<div class="form-container">
  <mat-card class="form-card">
    <h2>
      Inwestu.je (logo, czy coś)
    </h2>

    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="field">
        <input matInput type="email" placeholder="E-mail" formControlName="email" required>

        <mat-error class="error" *ngIf="getFormControl('email').hasError('required')">
          E-mail jest wymagany
        </mat-error>

        <mat-error class="error" *ngIf="getFormControl('email').hasError('email')">
          Niepoprawny e-mail
        </mat-error>
      </mat-form-field>

      <mat-form-field class="field-alt">
        <input matInput type="password" placeholder="Hasło" formControlName="password" required>

        <mat-error class="error" *ngIf="getFormControl('password').hasError('required')">
          Hasło jest wymagane
        </mat-error>
      </mat-form-field>

      <button class="btn" mat-raised-button color="primary">
        Zaloguj się
      </button>
    </form>

    <p>
      Nie masz jeszcze konta? <a routerLink="/register">Zarejestruj się!</a>
    </p>

    <p>
      Zapomniałeś hasła? <a routerLink="/login">Przypomnij hasło!</a>
    </p>
  </mat-card>
</div>

<app-auth-sidebar class="sidebar"></app-auth-sidebar>
