:host {
  display: flex;
  justify-content: space-between;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
}

.form-card {
  width: 400px;

  padding: 40px 30px;

  text-align: center;
}

.field {
  width: 100%;

  line-height: 1.4;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.field-alt {
  width: 100%;

  line-height: 1.4;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.field.ng-valid, .field.ng-untouched, .field-alt.ng-valid, .field-alt.ng-untouched {
  margin-bottom: 0;
}

.btn {
  width: 100%;
}

.sidebar {
  width: 50%;
  height: 100vh;
}

.loading-spinner {
  margin: 20px auto 0;
}

.login-error {
  margin-top: 10px;
}
