.error {
  font-size: 75%;
  margin-top: 5px;
}

.card-exp-wrapper {
  display: flex;
  align-items: baseline;

  .field {
    width: calc(50% - 13px);
  }
}

.btn {
  width: 100%;
}

.card-exp-divider {
  margin: 0 10px;
}

.card-valid-error {
  margin-top: 10px;
}

.mat-checkbox-inner-container {
  white-space: normal;
}

.loading-spinner {
  margin: 20px auto 0;
}
