<mat-card class="form-card">
  <h2>
    {{ domainName }}
  </h2>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="field">
      <input matInput type="email" placeholder="E-mail" formControlName="email" required autocomplete="email">

      <mat-error class="error" *ngIf="getFormControl('email').hasError('required')">
        E-mail jest wymagany
      </mat-error>

      <mat-error class="error" *ngIf="getFormControl('email').hasError('email')">
        Niepoprawny e-mail
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" class="btn" [disabled]="isLoading$ | async">
      Wyślij link do resetu hasła
    </button>

    <mat-error *ngIf="resetPasswordInitError$ | async" class="login-error">
      Nieprawidłowy e-mail lub hasło
    </mat-error>
    <mat-spinner color="primary" [diameter]="50" *ngIf="isLoading$ | async" class="loading-spinner"></mat-spinner>
  </form>

  <p>
    <a routerLink="/auth/login">Powrót do logowania</a>
  </p>
</mat-card>
