:host {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1020px) {
    position: relative;

    flex-wrap: wrap;
    align-items: center;

    min-height: 100vh;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;

  padding: 50px 20px;

  @media (max-width: 1020px) {
    width: 100%;
  }
}

.form-card {
  width: 400px;

  padding: 40px 30px;

  text-align: center;

  @media (max-width: 480px) {
    padding: 30px 20px;
  }
}

.btn {
  width: 100%;
}

.loading-spinner {
  margin: 20px auto 0;
}

.login-error {
  margin-top: 10px;
}

