<mat-card class="form-card">
  <h2>
    {{ domainName }}
  </h2>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="field-alt">
      <input
        matInput
        type="password"
        placeholder="Nowe hasło"
        formControlName="password"
        required
        #password
        autocomplete="new-password">

      <mat-error *ngIf="getFormControl('password').hasError('required')">
        Hasło jest wymagane
      </mat-error>

      <mat-error *ngIf="getFormControl('password').hasError('pattern')">
        Hasło musi składać się z przynajmniej jednej małej litery, jednej wielkiej litery i cyfry oraz mieć długość 6-24 znaki
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-alt">
      <input
        matInput
        type="password"
        placeholder="Potwierdź hasło"
        formControlName="confirmPassword"
        [pattern]="password.value"
        required
        autocomplete="new-password">

      <mat-error *ngIf="getFormControl('confirmPassword').hasError('required')">
        Potwierdzenie hasła jest wymagane
      </mat-error>

      <mat-error *ngIf="getFormControl('confirmPassword').hasError('pattern')">
        Hasła nie są takie same
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" class="btn" [disabled]="isLoading$ | async">
      Zresetuj hasło
    </button>

    <mat-error *ngIf="resetPasswordError$ | async" class="login-error">
      Błąd
    </mat-error>
    <mat-spinner color="primary" [diameter]="50" *ngIf="isLoading$ | async" class="loading-spinner"></mat-spinner>
  </form>

  <p>
    <a routerLink="/auth/login">Powrót do logowania</a>
  </p>
</mat-card>
