@import '~@angular/material/theming';
@import "../../../../theme";
@import "../../../../variables";

:host {
  display: flex;
  justify-content: space-between;

  padding: 20px 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
}

.form-card {
  max-width: 500px;

  padding: 40px 10px;

  text-align: center;
}

.sidebar {
  width: 50%;
  height: 100vh;
}

.mat-checkbox-layout {
  align-items: baseline;
  white-space: normal;
  text-align: left;
}

.mat-checkbox-inner-container {
  margin: 0 8px 0 0;
}

.summary-wrapper {
  text-align: left;
}




