@import '~@angular/material/theming';
@import "../../../../theme";
@import "../../../../variables";

:host {
  display: flex;
  justify-content: space-between;

  padding: 20px 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
}

.form-card {
  width: 400px;

  padding: 40px 10px;

  text-align: center;
}

.field {
  width: 100%;

  line-height: 1.4;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.field-alt {
  width: 100%;
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .toggle-btn {
    flex: 1;
  }
}

.error {
  font-size: 75%;
  margin-top: 5px;
}

.btn {
  width: 100%;
}

.sidebar {
  width: 50%;
  height: 100vh;
}

.roles-wrapper {
  text-align: left;
}

.toggle-group {
  width: 100%;
}

.card-exp-wrapper {
  display: flex;
  align-items: baseline;

  .field {
    width: calc(50% - 13px);
  }
}

.card-exp-divider {
  margin: 0 10px;
}

.mat-checkbox-layout {
  align-items: baseline;
  white-space: normal;
  text-align: left;
}

.mat-checkbox-inner-container {
  margin: 0 8px 0 0;
}

.mat-button-toggle-checked {
  background-color: mat-color($inwestuje-web-primary);
  color: $color-white !important;
}




