:host {
  display: flex;
  justify-content: space-between;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;

  padding: 20px 0;
}

.form-card {
  max-width: 500px;

  padding: 40px 10px;

  text-align: center;
}

.mat-checkbox-layout {
  align-items: baseline;
  white-space: normal;
  text-align: left;
}

.mat-checkbox-inner-container {
  margin: 0 8px 0 0;
}

.summary-wrapper {
  text-align: left;
}

.btn {
  width: 100%;
}

.accept-terms-checkbox {
  display: block;
  margin-bottom: 10px;
}

.loading-spinner {
  margin: 20px auto 0;
}




