<div class="form-container">
  <mat-card class="form-card">
    <h2>
      Inwestu.je (logo, czy coś)
    </h2>

    <mat-horizontal-stepper linear #stepper>
      <mat-step label="Dane" [stepControl]="registerForm">
        <app-user-data-form
          [registerForm]="registerForm"
          [rolesData]="rolesData"
          [accountTypes]="accountTypes">
        </app-user-data-form>
      </mat-step>

      <mat-step label="Płatności" [stepControl]="paymentForm">
        <app-payment-form
          [paymentForm]="paymentForm"
          [cardCheckError]="cardCheckError"
          [isCheckingCardData]="isCheckingCardData"
          (checkCardData)="onSubmitPaymentData()">
        </app-payment-form>
      </mat-step>

      <mat-step label="Podsumowanie" class="summary-wrapper">
        <p class="summary-detail">
          E-mail: {{ getFormControl(registerForm, 'email').value }}
        </p>

        <p class="summary-detail">
          Typ konta: {{ getFormControl(registerForm, 'accountType').value.label }}
        </p>

        <p class="summary-detail" *ngIf="getFormControl(registerForm, 'accountType').value === accountTypes[0]">
          Imię: {{ getFormControl(registerForm, 'name').value }}
        </p>

        <p class="summary-detail" *ngIf="getFormControl(registerForm, 'accountType').value === accountTypes[0]">
          Nazwisko: {{ getFormControl(registerForm, 'lastName').value }}
        </p>

        <p class="summary-detail" *ngIf="getFormControl(registerForm, 'accountType').value === accountTypes[1]">
          Nazwa firmy: {{ getFormControl(registerForm, 'companyName').value }}
        </p>

        <p class="summary-detail">
         Role: <span *ngFor="let role of getFormControl(registerForm, 'roles').value">{{ role.label }}</span>
        </p>

        <button mat-raised-button color="primary" class="btn" (click)="register()">
          Zarejestruj się
        </button>
      </mat-step>
    </mat-horizontal-stepper>

    <p>Posiadasz już konto? <a routerLink="/login">Zaloguj się!</a></p>
  </mat-card>
</div>

<app-auth-sidebar class="sidebar"></app-auth-sidebar>
