<div class="form-container">
  <mat-card class="form-card">
    <h2>
      Inwestu.je (logo, czy coś)
    </h2>

    <mat-horizontal-stepper linear>
      <mat-step label="Dane" [stepControl]="registerForm">
        <form class="form" [formGroup]="registerForm">
          <mat-form-field class="field">
            <input matInput type="email" placeholder="E-mail" formControlName="email" required>

            <mat-error *ngIf="getFormControl(registerForm, 'email').hasError('required')">
              E-mail jest wymagany
            </mat-error>

            <mat-error *ngIf="getFormControl(registerForm, 'email').hasError('email')">
              Niepoprawny e-mail
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field">
            <input matInput type="password" placeholder="Hasło" formControlName="password" required #password>

            <mat-error *ngIf="getFormControl(registerForm, 'password').hasError('required')">
              Hasło jest wymagane
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field-alt">
            <input
              matInput
              type="password"
              placeholder="Potwierdź hasło"
              formControlName="confirmPassword"
              [pattern]="password.value"
              required>

            <mat-error *ngIf="getFormControl(registerForm, 'confirmPassword').hasError('required')">
              Potwierdzenie hasła jest wymagane
            </mat-error>

            <mat-error *ngIf="getFormControl(registerForm, 'confirmPassword').hasError('pattern')">
              Hasła nie są takie same
            </mat-error>
          </mat-form-field>

          <mat-button-toggle-group formControlName="accountType" class="field-alt toggle-group">
            <mat-button-toggle value="private" class="toggle-btn">
              Osoba prywatna
            </mat-button-toggle>

            <mat-button-toggle value="company" class="toggle-btn">
              Firma
            </mat-button-toggle>
          </mat-button-toggle-group>

          <mat-form-field class="field" *ngIf="getFormControl(registerForm, 'accountType').value === 'private'">
            <input
              matInput
              type="text"
              placeholder="Imię"
              formControlName="name"
              required>

            <mat-error *ngIf="getFormControl(registerForm, 'name').hasError('required')">
              Imię jest wymagane
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field" *ngIf="getFormControl(registerForm, 'accountType').value === 'private'">
            <input
              matInput
              type="text"
              placeholder="Nazwisko"
              formControlName="lastName"
              required>

            <mat-error *ngIf="getFormControl(registerForm, 'lastName').hasError('required')">
              Nazwisko jest wymagane
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field" *ngIf="getFormControl(registerForm, 'accountType').value === 'company'">
            <input
              matInput
              type="text"
              placeholder="Nazwa firmy"
              formControlName="companyName"
              required>

            <mat-error *ngIf="getFormControl(registerForm, 'companyName').hasError('required')">
              Nazwa firmy jest wymagana
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field" *ngIf="getFormControl(registerForm, 'accountType').value === 'company'">
            <input
              matInput
              [imask]="nipMask"
              [unmask]="true"
              type="text"
              placeholder="NIP"
              formControlName="nip"
              required>

            <mat-error *ngIf="getFormControl(registerForm, 'nip').hasError('required')">
              NIP jest wymagany
            </mat-error>

            <mat-error *ngIf="getFormControl(registerForm, 'nip').hasError('pattern')">
              Niepoprawny NIP
            </mat-error>
          </mat-form-field>

          <div class="field-alt">
            <mat-button-toggle-group formControlName="roles" multiple class="toggle-group">
              <mat-button-toggle *ngFor="let role of rolesData" [value]="role" class="toggle-btn">
                {{ role }}
              </mat-button-toggle>
            </mat-button-toggle-group>

            <mat-error class="error" *ngIf="getFormControl(registerForm, 'roles').hasError('required')">
              Rola jest wymagana
            </mat-error>
          </div>

          <button class="btn" matStepperNext mat-raised-button color="primary">
            Dalej
          </button>
        </form>
      </mat-step>

      <mat-step label="Płatności" [stepControl]="paymentForm">
        <form [formGroup]="paymentForm" (ngSubmit)="onSubmitPaymentData()">
          <mat-form-field class="field">
            <input
              class="payu-card-number"
              [imask]="cardNumberMask"
              [unmask]="true"
              matInput
              type="text"
              placeholder="Numer karty"
              formControlName="cardNumber"
              required>

            <mat-error *ngIf="getFormControl(paymentForm, 'cardNumber').hasError('pattern')">
              Nieprawidłowy numer karty
            </mat-error>

            <mat-error *ngIf="getFormControl(paymentForm, 'cardNumber').hasError('required')">
              Numer karty jest wymagany
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field">
            <label>
              <input
                class="payu-card-cvv"
                [imask]="cvvMask"
                [unmask]="true"
                matInput
                type="text"
                placeholder="Kod CVV2/CVC2"
                formControlName="cvv"
                required>
            </label>

            <mat-error *ngIf="getFormControl(paymentForm, 'cvv').hasError('required')">
              Kod CVV2/CVC2 jest wymgany
            </mat-error>
          </mat-form-field>

          <div class="card-exp-wrapper">
            <mat-form-field class="field">
              <input
                class="payu-card-expm"
                [imask]="expMonthMask"
                [unmask]="true"
                matInput
                type="text"
                placeholder="Miesiąc ważności karty"
                formControlName="expMonth"
                required>

              <mat-error *ngIf="getFormControl(paymentForm, 'expMonth').hasError('required')">
                Miesiąc jest wymagany
              </mat-error>
            </mat-form-field>

            <span class="card-exp-divider">
              /
            </span>

            <mat-form-field class="field">
              <input
                class="payu-card-expy"
                [imask]="expYearMask"
                [unmask]="true"
                matInput
                type="text"
                placeholder="Rok ważności karty"
                formControlName="expYear"
                required>

              <mat-error *ngIf="getFormControl(paymentForm, 'expYear').hasError('required')">
                Rok jest wymagany
              </mat-error>
            </mat-form-field>
          </div>

          <div class="field-alt">
            <mat-checkbox class="payu-agreement" color="primary" formControlName="agreement">
              Zapisując dane karty akceptuję regulamin i chcę jej używać do kolejnych płatności
            </mat-checkbox>

            <mat-error
              class="error"
              *ngIf="agreementField.hasError('required') && agreementField.dirty">
              Zgoda jest wymagana
            </mat-error>
          </div>

          <button class="btn" mat-raised-button matStepperNext color="primary" [disabled]="isCheckingCardData">
            Dalej
          </button>

          <mat-spinner color="primary" *ngIf="isCheckingCardData"></mat-spinner>
        </form>

        <mat-error *ngIf="cardCheckError">
          Walidacja karty przebiegła niepoprawnie.
        </mat-error>
      </mat-step>

      <mat-step label="Podsumowanie" class="summary-wrapper">
        <h2>
          Podsumowanie
        </h2>

        <p class="summary-detail">
          E-mail: {{ getFormControl(registerForm, 'email').value }}
        </p>

        <p class="summary-detail">
          Typ konta: {{ getFormControl(registerForm, 'accountType').value }}
        </p>

        <p class="summary-detail" *ngIf="getFormControl(registerForm, 'accountType').value === 'private'">
          Imię: {{ getFormControl(registerForm, 'name').value }}
        </p>

        <p class="summary-detail" *ngIf="getFormControl(registerForm, 'accountType').value === 'private'">
          Nazwisko: {{ getFormControl(registerForm, 'lastName').value }}
        </p>

        <p class="summary-detail" *ngIf="getFormControl(registerForm, 'accountType').value === 'company'">
          Nazwa firmy: {{ getFormControl(registerForm, 'companyName').value }}
        </p>

        <p class="summary-detail">
          Typ konta: {{ getFormControl(registerForm, 'roles').value }}
        </p>
      </mat-step>
    </mat-horizontal-stepper>

    <p>Posiadasz już konto? <a routerLink="/login">Zaloguj się!</a></p>
  </mat-card>
</div>

<app-auth-sidebar class="sidebar"></app-auth-sidebar>
