<nav>
  <ul class="nav-list">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin" mat-button>
        <mat-icon>
          verified_user
        </mat-icon>

        Admin
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/account" mat-button>
        <mat-icon>
          person
        </mat-icon>

        Moje konto
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/new-ad" mat-raised-button color="primary">
        <mat-icon>
          add
        </mat-icon>

        Dodaj nowe ogłoszenie
      </a>
    </li>
  </ul>
</nav>
