@import "~src/variables";

.nav-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-item {
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.nav-link {
  color: $color-white;

  &:hover {
    color: $color-white;
  }
}
