:host {
  display: block;
  width: 100%;
}

.users-list-container {
  position: relative;
  width: 100%;

  overflow: hidden;
}

.users-table {
  width: 100%;
}

.loading-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
