@import '~@angular/material/theming';
@import "~src/theme";
@import "~src/variables";

.error {
  font-size: 75%;
  margin-top: 5px;
}

.btn {
  width: 100%;
}

.roles-wrapper {
  text-align: left;
}

.toggle-group {
  width: 100%;
}

.mat-button-toggle-group {
  @media (max-width: 400px) {
    flex-direction: column;
  }
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
  @media (max-width: 400px) {
    border-left: none;
    border-top: solid 1px rgba(0, 0, 0, 0.12);
  }
}


.mat-button-toggle-checked {
  background-color: mat-color($inwestuje-web-primary);
  color: $color-white !important;
}

