@import '~@angular/material/theming';
@import "../../../../../theme";
@import "../../../../../variables";

.field {
  width: 100%;

  line-height: 1.4;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.field-alt {
  width: 100%;
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .toggle-btn {
    flex: 1;
  }
}

.error {
  font-size: 75%;
  margin-top: 5px;
}

.btn {
  width: 100%;
}

.roles-wrapper {
  text-align: left;
}

.toggle-group {
  width: 100%;
}

.mat-button-toggle-checked {
  background-color: mat-color($inwestuje-web-primary);
  color: $color-white !important;
}

